<div class="container-fluid">
    <!-- <app-page-title title="Advanced Table" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="header-title mt-0 mb-1">Order History</h4>
            <p class="text-muted font-13 mb-4">
  
            </p>
            <div class="row mb-md-2">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="tickets-table_length"><label
                    class="d-inline-flex align-items-center">Show
                    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                      [(ngModel)]="service.pageSize"
                      class="custom-select custom-select-sm form-control form-control-sm mx-2">
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select> entries</label></div>
              </div>
              <!-- Search -->
              <div class="col-sm-12 col-md-6">
                <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                    class="d-inline-flex align-items-center">Search:
                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                      aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
              </div>
              <!-- End search -->
            </div>
            <!-- Table -->
            <table id="basic-datatable" class="table datatables dt-responsive nowrap">
              <thead>
                <tr>
                  <th sortable="name" (sort)="onSort($event)">Order ID</th>
                  <th sortable="position" (sort)="onSort($event)">Service</th>
                  <th sortable="office" (sort)="onSort($event)">Package</th>
                  <th sortable="age" (sort)="onSort($event)">Link</th>
                  <th sortable="date" (sort)="onSort($event)">Amount</th>
                  <th sortable="salary" (sort)="onSort($event)">Quantity</th>
                  <th sortable="salary" (sort)="onSort($event)">Start Counter</th>
                  <th sortable="salary" (sort)="onSort($event)">Remains</th>
                  <th sortable="salary" (sort)="onSort($event)">Date</th>
                  <th sortable="salary" (sort)="onSort($event)">Status</th>

                </tr>
              </thead>
              <tbody>
               <tr>
                   <td>1</td>
                   <td>Instagram Likes</td>
                   <td>[NEW] Instagram Likes (5K)</td>
                   <td>https://www.instagram.com/p/B9MByTjho3B/</td>
                   <td>$3.80</td>
                   <td>1000</td>
                   <td>384</td>
                   <td>703</td>
                   <td>24 Feb 2020, 3:58 PM</td>
                   <td> <span class="badge badge-success">Completed</span></td>

               </tr>
              </tbody>
            </table>
            <!-- End table -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                  {{service.startIndex + 1}} to
                  {{service.endIndex}} of {{service.totalRecords}}
                  entries
                </div>
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                  <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                  </ngb-pagination> -->
                </div>
              </div>
              <!-- End Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>