<div class="container-fluid">
    <div class="order-form">

        <div class="alert alert-success alert-dismissible fade show mt-3 mb-3" role="alert">
            Order placed successfully.
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">×</span>
             </button>
         </div>

        <div class="row">           

            <div class="col-xl-6 col-sm-6">
                <div class="form-group mt-3 mt-sm-0">
                  <label for="default">Service</label>
                  <div class="ng-autocomplete">
                    <ng-autocomplete 
                      [data]="data"
                      [searchKeyword]="keyword"
                      (selected)='selectEvent($event)'
                      
                      
                      [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate">                                 
                    </ng-autocomplete>
                     
                    <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                    </ng-template>
                     
                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
                    </div>
                </div>
    
                <div class="form-group mt-3 mt-sm-0">
                    <label for="default">Package</label>
                    <div class="ng-autocomplete">
                      <ng-autocomplete 
                        [data]="data"
                        [searchKeyword]="keyword"
                        (selected)='selectEvent($event)'
                        
                        
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate">                                 
                      </ng-autocomplete>
                       
                      <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.name"></a>
                      </ng-template>
                       
                      <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                      </ng-template>
                      </div>
                  </div>
    
                  <div class="form-group mt-3 mt-sm-0">
                    <label for="default">Description</label>
                   <textarea></textarea>
                  </div>
    
                  <div class="form-group mt-3 mt-sm-0">
                    <label for="default">Link</label>
                   <input type="text" />
                  </div>
    
                  <div class="form-group mt-3 mt-sm-0">
                    <label for="default">Quantity</label>
                   <input type="text" />
                   <span class="limits">
                    <span class="badge badge-info">Min: 100</span>
                    <span class="badge badge-info ml-2">Max: 10000</span>
                   </span>
                  </div>
    
                  <div class="form-group mt-3 mt-sm-0">
                    <button type="button" class="btn btn-primary">Place Order</button>
                  </div>
    
              </div>
        </div>
    </div>
</div>